body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(rgba(20, 20, 20, 0.90), rgba(20, 20, 20, 0.88)), 
    url('https://images.unsplash.com/photo-1616530940355-351fabd9524b?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  color: #f5f5f5;
  margin: 0;
  padding: 0 10vw;
  min-height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 1em;
}
form {
  margin: 20px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

input, select, button {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}
 form .add-movie-btn{
  background: #c0392b;
  color: #fff;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.2s;
}
form .add-movie-btn:hover{
  background: #a93226;
}
.remove-movie-btn {
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 0.96em;
  transition: background 0.2s;
  opacity: 70%;
}
.remove-movie-btn:hover {
  background: #a93226;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
.movie-card {
  background: #222;
  border-radius: 8px;
  box-shadow: 0 4px 12px #0008;
  padding: 1em;
  width: 320px;
  position: relative;
  transition: transform 0.2s;
}
.movie-card.action {
  border-left: 8px solid #e74c3c;
}
.movie-card.comedy {
  border-left: 8px solid #e170b4;
}
.movie-card.romance{
  border-left:8px solid #e47c;
}
.movie-card.other {
  border-left: 8px solid #5dade2;
}
.movie-card img {
  width: 100%;
  border-radius: 5px;
  background: #444;
  height: 70vh;
}
.movie-title {
  font-size: 1.2em;
  font-weight: bold;
}
.movie-meta, .reviews {
  font-size: 0.95em;
  margin: 0.5em 0;
}
.add-review-form {
  display: flex;
  gap: 4px;
  margin-top: 0.7em;
}
.add-review-form button{
  cursor: pointer;
}
.rating-select{
  height: 30px;
}
.review {
  background: #3338;
  margin: 0.3em 0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.92em;
}
